// bower:scss
// endbower
@import "searchbox";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.brand {
  padding-top: 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.ocsearch-header {
  background-color: #303643!important;
}

.ocsearch-header input {
  color: #e7e7e7;
}

.ocsearch-header .ocsearch-header-link {
  color: #FFFFFF;
  text-decoration: none;
}

.ocsearch-header .ocsearch-header-link:hover {
  color: #e7e7e7;
  text-decoration: none;
}

.ocsearch-header-parent a {
  background-color: #303643!important;
}

.ocsearch-header-dropdown {
  background-color: #303643!important;
}

.ocsearch-header-dropdown a {
  color: #FFFFFF!important;
}

.ocsearch-header-dropdown a:hover {
  background-color: #272F41!important;
  color: #d5d5d5!important;
}

.ocsearch-header-item {
  color: #FFFFFF!important;
}

.ocsearch-header-item:hover {
  background-color: #272F41!important;
  color: #d5d5d5!important;
}

.ocsearch-header-item-actived a {
  background: #242A39!important;
  box-shadow: inset 0 0 2px 0 #1C212E!important;
}

.ocsearch-footer {
  border-top: solid 1px #e7e7e7;
  background-color: #303643!important;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
}

.ocsearch-footer font {
  color: #FFFFFF;
}

.ocsearch-sidebar-nav form label {
  color: #FFFFFF!important;
}

.ocsearch-sidebar-nav ul li a {
  color: #FFFFFF!important;
  text-decoration: none!important;
}

.ocsearch-sidebar-nav ul li a:hover {
  color: #d5d5d5!important;
}

.ocsearch-sidebar-nav .ocsearch-sidebar-nav-active {
  color: LightGoldenrodYellow!important;
}

body{
  padding-bottom: 50px;
}

.box{
  border: 15px black;
  -webkit-box-shadow: 4px 4px 8px #d5d5d5;
  -moz-box-shadow: 4px 4px 8px #d5d5d5;
  box-shadow: 4px 4px 8px #d5d5d5;
}

.box:hover{
  -webkit-box-shadow: 5px 5px 8px #d5d5d5;
  -moz-box-shadow: 5px 5px 8px #d5d5d5;
  box-shadow: 5px 5px 8px #d5d5d5;
}

.result-odd {
  color: green;
}

.result-even {
  color: orange;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.spinner:before { 
  background-color: rgba(49, 37, 37, 0.2);
  border-radius: 6px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  content: " ";
}

.popover {
  max-width: 400px;
  z-index: 1100;
}

// CSS for modal-body
.ocmodal-title-small {
  margin-right: 10px;
  color: grey;
  font-size: 16px;
}

.ocmodal-body {
  height: 600px;
  overflow-y: auto;
}

.ocmodal-body-lightgrey {
  background: white;
}

.ocmodal-body-opacity {
  width: 95%;
  height: 280px;
  border-radius: 5px;
  margin: 20px;
  background: white;
  border: 2px solid lightgray;
}

.ocmodal-body-opacity-background {
  text-align: center;
}

.ocmodal-body-opacity-background img {
  width: auto;
  height: 105px;
}

.ocmodal-body-opacity-tick {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 70px;
  height: 70px;
}

.ocmodal-body-opacity-tick .tick-img {
  width: 90%;
  height: 90%;
  color: limegreen;
}

.ocmodal-msg-warning {
  color: orange; 
}

.ocmodal-msg-error {
  color: red;
}

.oclink-item {
  text-decoration: none;
}
.oclink-item:hover {
  text-decoration: none;
}
.oclink-item:visited {
  text-decoration: none;
}


.table-fixed-2 thead {
  width: 100%;
  border-top: 1px solid black;
}
.table-fixed-2 tbody {
  height: 132px;
  overflow-y: auto;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.table-fixed-2 thead, .table-fixed-2 tbody, .table-fixed-2 tr, .table-fixed-2 td, .table-fixed-2 th {
  display: block;
}
.table-fixed-2 tbody td, .table-fixed-2 thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed-1 thead {
  width: 100%;
  border-top: 1px solid black;
}
.table-fixed-1 tbody {
  height: 360px;
  overflow-y: auto;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.table-fixed-1 thead, .table-fixed-1 tbody, .table-fixed-1 tr, .table-fixed-1 td, .table-fixed-1 th {
  display: block;
}
.table-fixed-1 tbody td, .table-fixed-1 thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed-lg thead {
  width: 100%;
  border-top: 1px solid black;
}
.table-fixed-lg tbody {
  height: 310px;
  overflow-y: auto;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.table-fixed-lg thead, .table-fixed-lg tbody, .table-fixed-lg tr, .table-fixed-lg td, .table-fixed-lg th {
  display: block;
}
.table-fixed-lg tbody td, .table-fixed-lg thead > tr> th {
  float: left;
  border-bottom-width: 0;
}